body {
    font-family: Arial, Helvetica, sans-serif;
    background: #3EA69B;
  }
  
  
  .wrap {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .instructions {
    margin-right: 50px;
  }
  
  .container {
    display: inline-block;
    width: 40%;
  }
  
  h1 {
    color: lightgray;
    font-family: lato;
    font-size: 20px;
    font-weight: 200;
    padding: 20px;
    text-align: center;
  }
  
  .box {
    height: 40px;
    margin: 50px auto;
    width: 40px;
    cursor: pointer;
  }
  
  .transform {
    transform: scale(2);
    border-radius: 50%;
  }
  
  .box1 {
    background: #60D4C8;
    transition: all 300ms;
  }
  
  .box2 {
    background: #46BAAF;
    transition: all 1s;
  }
  
  .box3 {
    background: #3EA69B;
    transition: all 3s;
  }

  .image{
    transition: all 3s;
    width: 50px;
    height: 50px;
  }
  
  .randomCol{
    /* border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 10px; */
    background: rgb(96, 105, 105);
    /* transition: all 1.5s linear; */
  }

  .circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 10px;
    background: rgb(27, 23, 23);
  }
  
  /* .circle0 {
    background: PaleTurquoise;
    transition: all 1.5s linear;
  } 
  
  .circle1 {
    background: salmon;
    transition: all 1.5s ease;
  }
  
  .circle2 {
    background: lightskyblue;
    transition: all 1.5s ease-in;
  }
  
  .circle3 {
    background: khaki;
    transition: all 1.5s ease-out;
  }
  
  .circle4 {
    background: mediumturquoise;
    transition: all 1.5s ease-in-out;
  }
  
  .circle5 {
    background: thistle;
    transition: all 1.5s cubic-bezier(0,1,.98,0); 
  } */
  
  .moveMe {
    margin-left: 400px; 
  }
  
  button {
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .listBeatles {
    background-color: salmon; 
  }
  
  .compareBands {
    background-color: #46BAAF;
  }